.about-section {
    margin: 6vh 0;
    padding: 2vh 0;
    width: 100%;
    color: #fff;
    text-align: initial;
    box-sizing: border-box;
}

.about-title {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    margin-bottom: 1.5vh;
}

.about-icon {
    font-size: 2rem;
    line-height: 1;
}

.about-text {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    width: 100%;
}