.footer {
    border-top: 1px solid;
    background-color: #222;
    color: white;
    text-align:left;
    align-content: center;
    min-height: 15vh;
    max-height: 15vh;                       
    font-size: small;
    width: auto;
}