.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-intro {
    display: block;
    text-align: center;
    padding: 1vh;
    font-size: xx-large;
}

.texto-intro {
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    .titulo-intro {
        font-size: 1.8rem;
    }

    .texto-intro {
        font-size: 0.95rem;
    }
}