* {
    font-family: system-ui;
    font-weight: 650;
}

.nav-bar {
    background-color: rgb(189, 205, 210);
    border-radius: 30px;
    padding: 0.5vh 1.5vh;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    z-index: 1000;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button {
    background-color: transparent;
    border-style: none;
    border-radius: 10px;
    color: #000;
    padding: 1px 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-button:hover {
    background-color: rgb(152, 165, 170);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .nav-bar {
        width: 90vw;
        justify-content: space-around;
        padding: 0.5vh 0;
    }

    .nav-button {
        font-size: 0.85rem;
        padding: 4px 6px;
    }
}