* {
    font-family: system-ui;
    font-weight: 650;
}

.nav-bar {
    background-color: rgb(189, 205, 210);
    border-radius: 30px;
    padding: 0.5vh 1.5vh;
    margin: 1vh;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    z-index: 1000;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button {
    background-color: transparent;
    border-style: none;
    border-radius: 10px;
    color: #000;
    padding: 1px 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-button:hover {
    background-color: rgb(189, 205, 210);
    transform: scale(1.1);
}