.project-card {
  display: flex;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  max-width: 500px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.project-content {
  flex: 1;
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 15px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.tech-tag {
  font-style: italic;
  color: #000000;
  transition: transform 0.3s;
}
.tech-tag:hover {
  cursor: default;
  transform: translateY(-5px);
}

.tech-tag {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.project-link {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project-link:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    padding: 15px;
  }

  .project-image {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 15px;
    
  }

  .project-title {
    font-size: 1.3em;
  }
}